Need to install the following packages:
supabase@2.89.0
Ok to proceed? (y) 



SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;




ALTER SCHEMA "public" OWNER TO "postgres";


CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."bootstrap_account_membership"() RETURNS TABLE("account_id" "uuid", "role" "text", "account_name" "text")
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_user_id uuid;
  v_account_id uuid;
BEGIN
  v_user_id := auth.uid();

  IF v_user_id IS NULL THEN
    RAISE EXCEPTION 'Not authenticated';
  END IF;

  IF EXISTS (SELECT 1 FROM account_users WHERE user_id = v_user_id) THEN
    RETURN QUERY
      SELECT au.account_id, au.role, a.name
      FROM account_users au
      JOIN accounts a ON a.id = au.account_id
      WHERE au.user_id = v_user_id
      ORDER BY au.created_at ASC
      LIMIT 1;
    RETURN;
  END IF;

  IF (SELECT COUNT(*) FROM account_users) = 0 THEN
    SELECT id INTO v_account_id FROM accounts WHERE slug = 'marmanu-house' LIMIT 1;

    IF v_account_id IS NULL THEN
      INSERT INTO accounts (name, slug)
      VALUES ('Marmanu House', 'marmanu-house')
      RETURNING id INTO v_account_id;
    END IF;

    INSERT INTO account_users (account_id, user_id, role)
    VALUES (v_account_id, v_user_id, 'admin')
    ON CONFLICT (account_id, user_id) DO NOTHING;

    RETURN QUERY
      SELECT au.account_id, au.role, a.name
      FROM account_users au
      JOIN accounts a ON a.id = au.account_id
      WHERE au.user_id = v_user_id
      ORDER BY au.created_at ASC
      LIMIT 1;
    RETURN;
  END IF;

  RAISE EXCEPTION 'USER_NOT_ASSOCIATED';
END;
$$;


ALTER FUNCTION "public"."bootstrap_account_membership"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."current_account_id"() RETURNS "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT account_id
  FROM account_users
  WHERE user_id = auth.uid()
  ORDER BY created_at ASC
  LIMIT 1
$$;


ALTER FUNCTION "public"."current_account_id"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generateAccountPrefix"("account_uuid" "uuid") RETURNS "text"
    LANGUAGE "sql" IMMUTABLE
    AS $$
  SELECT generate_account_prefix(account_uuid)
$$;


ALTER FUNCTION "public"."generateAccountPrefix"("account_uuid" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_account_prefix"("account_uuid" "uuid") RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
DECLARE
  hex_value text;
  digit_char text;
  digit_int int;
  value_num numeric := 0;
  base36_chars constant text := '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  base36_text text := '';
  filtered text;
  remainder_num numeric;
BEGIN
  IF account_uuid IS NULL THEN
    RETURN NULL;
  END IF;

  hex_value := replace(account_uuid::text, '-', '');

  FOR i IN 1..length(hex_value) LOOP
    digit_char := substr(hex_value, i, 1);

    IF digit_char BETWEEN '0' AND '9' THEN
      digit_int := ascii(digit_char) - ascii('0');
    ELSE
      digit_int := ascii(upper(digit_char)) - ascii('A') + 10;
    END IF;

    value_num := value_num * 16 + digit_int;
  END LOOP;

  IF value_num = 0 THEN
    base36_text := '0';
  ELSE
    WHILE value_num > 0 LOOP
      remainder_num := mod(value_num, 36);
      base36_text := substr(base36_chars, remainder_num::int + 1, 1) || base36_text;
      value_num := trunc(value_num / 36);
    END LOOP;
  END IF;

  filtered := regexp_replace(upper(base36_text), '[01IO]', '', 'g');
  filtered := substr(rpad(filtered, 4, '2'), 1, 4);

  RETURN filtered;
END;
$$;


ALTER FUNCTION "public"."generate_account_prefix"("account_uuid" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_short_reference_code"() RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  alphabet text := '23456789ABCDEFGHJKLMNPQRSTUVWXYZ';
  result text := '';
  i integer;
BEGIN
  FOR i IN 1..6 LOOP
    result := result || substr(alphabet, floor(random() * length(alphabet) + 1)::int, 1);
  END LOOP;
  RETURN result;
END;
$$;


ALTER FUNCTION "public"."generate_short_reference_code"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_message_settings_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_message_settings_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_reservation_paid_amount"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    target_reservation_id uuid;
BEGIN
    target_reservation_id := COALESCE(NEW.reservation_id, OLD.reservation_id);

    UPDATE reservations
    SET paid_amount = COALESCE((
        SELECT SUM(amount)
        FROM payments
        WHERE reservation_id = target_reservation_id
    ), 0)
    WHERE id = target_reservation_id;

    RETURN COALESCE(NEW, OLD);
END;
$$;


ALTER FUNCTION "public"."sync_reservation_paid_amount"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."account_profile" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "commercial_name" "text",
    "legal_name" "text",
    "nit" "text",
    "nit_digit" integer,
    "address" "text",
    "city" "text",
    "department" "text",
    "country" "text" DEFAULT 'Colombia'::"text",
    "phone" "text",
    "email" "text",
    "website" "text",
    "slogan" "text",
    "logo_url" "text",
    "reference_prefix" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "short_description" "text",
    "location_url" "text"
);


ALTER TABLE "public"."account_profile" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."account_source_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "source_detail_id" "uuid" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "commission_pct" numeric(5,2) DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."account_source_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."account_users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "text" DEFAULT 'staff'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "account_users_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'manager'::"text", 'staff'::"text"])))
);


ALTER TABLE "public"."account_users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."accounts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "slug" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."accounts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."document_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "color_theme" "text" DEFAULT 'tekmi'::"text",
    "color_primary" "text" DEFAULT '#2D1B69'::"text",
    "color_accent" "text" DEFAULT '#4C2FFF'::"text",
    "color_background" "text" DEFAULT '#F8F9FC'::"text",
    "header_layout" integer DEFAULT 1,
    "header_show_logo" boolean DEFAULT true,
    "header_logo_size" "text" DEFAULT 'medium'::"text",
    "header_fields" "jsonb" DEFAULT '{}'::"jsonb",
    "header_extra_text" "text",
    "footer_layout" integer DEFAULT 1,
    "footer_fields" "jsonb" DEFAULT '{}'::"jsonb",
    "footer_free_text" "text",
    "show_conditions" boolean DEFAULT true,
    "custom_field_label" "text",
    "custom_field_content" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "preset" "text" DEFAULT 'moderno'::"text"
);


ALTER TABLE "public"."document_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."guests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "phone" "text",
    "email" "text",
    "document" "text",
    "nationality" "text",
    "document_type" "text",
    "document_number" "text",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    "birth_date" "date",
    "phone_country_code" "text" DEFAULT '+57'::"text",
    "first_name" "text",
    "last_name" "text",
    CONSTRAINT "guests_document_type_check" CHECK (("document_type" = ANY (ARRAY['passport'::"text", 'cedula'::"text", 'dni'::"text", 'foreign_id'::"text"])))
);


ALTER TABLE "public"."guests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."inquiries" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "guest_phone" "text",
    "check_in" "date",
    "check_out" "date",
    "guests_count" integer,
    "status" "text" DEFAULT 'new'::"text" NOT NULL,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    "source_detail_id" "uuid",
    "price_per_night" numeric(10,2),
    "commission_name" "text",
    "commission_percentage" numeric(5,2) DEFAULT 0 NOT NULL,
    "discount_percentage" numeric(5,2) DEFAULT 0 NOT NULL,
    "inquiry_number" "text",
    "quote_expires_at" timestamp with time zone,
    "reservation_id" "uuid",
    "reference_code" "text",
    "adults" integer DEFAULT 1 NOT NULL,
    "children" integer DEFAULT 0 NOT NULL,
    "quote_token" "text",
    "phone_country_code" "text" DEFAULT '+57'::"text",
    "guest_first_name" "text",
    "guest_last_name" "text",
    "source_name" "text",
    CONSTRAINT "inquiries_status_check" CHECK (("status" = ANY (ARRAY['nueva'::"text", 'contactada'::"text", 'cotizada'::"text", 'vencida'::"text", 'convertida'::"text", 'perdida'::"text"])))
);


ALTER TABLE "public"."inquiries" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."inquiry_status_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "inquiry_id" "uuid" NOT NULL,
    "from_status" "text",
    "to_status" "text" NOT NULL,
    "note" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."inquiry_status_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."inquiry_units" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "inquiry_id" "uuid" NOT NULL,
    "unit_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."inquiry_units" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."message_settings" (
    "account_id" "uuid" NOT NULL,
    "show_unit_amenities" boolean DEFAULT true NOT NULL,
    "quotation_greeting" "text",
    "quotation_intro" "text",
    "quotation_closing" "text",
    "quotation_signature" "text",
    "voucher_greeting" "text",
    "voucher_intro" "text",
    "voucher_closing" "text",
    "voucher_signature" "text",
    "checkin_time" "text",
    "checkout_time" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "show_unit_count" boolean DEFAULT true,
    "show_unit_name" boolean DEFAULT true,
    "show_unit_description" boolean DEFAULT false,
    "show_quote_url" boolean DEFAULT true
);


ALTER TABLE "public"."message_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notification_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "settings" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL
);


ALTER TABLE "public"."notification_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "type" "text" NOT NULL,
    "title" "text" NOT NULL,
    "message" "text",
    "related_type" "text",
    "related_id" "uuid",
    "is_read" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_alert" boolean DEFAULT false NOT NULL,
    CONSTRAINT "notifications_related_type_check" CHECK ((("related_type" = ANY (ARRAY['reservation'::"text", 'inquiry'::"text", 'guest'::"text"])) OR ("related_type" IS NULL)))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."occupancies" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "unit_id" "uuid" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "occupancy_type" "text" NOT NULL,
    "reservation_id" "uuid",
    "inquiry_id" "uuid",
    "expires_at" timestamp with time zone,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    CONSTRAINT "occupancies_date_range_check" CHECK (("start_date" < "end_date")),
    CONSTRAINT "occupancies_occupancy_type_check" CHECK (("occupancy_type" = ANY (ARRAY['reservation'::"text", 'maintenance'::"text", 'owner_use'::"text", 'inquiry_hold'::"text", 'external'::"text"])))
);


ALTER TABLE "public"."occupancies" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "reservation_id" "uuid" NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "method" "text" NOT NULL,
    "reference" "text",
    "payment_date" "date" DEFAULT CURRENT_DATE NOT NULL,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    CONSTRAINT "payments_method_check" CHECK (("method" = ANY (ARRAY['transferencia'::"text", 'efectivo'::"text", 'nequi'::"text", 'tarjeta'::"text", 'plataforma'::"text"])))
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."predefined_messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "body" "text" NOT NULL,
    "type" "text" DEFAULT 'custom'::"text" NOT NULL,
    "key" "text",
    "sort_order" integer DEFAULT 0 NOT NULL,
    "is_deletable" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "predefined_messages_key_check" CHECK (("key" = ANY (ARRAY['quotation'::"text", 'voucher'::"text", 'preregistro'::"text"]))),
    CONSTRAINT "predefined_messages_type_check" CHECK (("type" = ANY (ARRAY['system'::"text", 'custom'::"text"]))),
    CONSTRAINT "predefined_messages_type_key_check" CHECK (((("type" = 'system'::"text") AND ("key" IS NOT NULL)) OR (("type" = 'custom'::"text") AND ("key" IS NULL))))
);


ALTER TABLE "public"."predefined_messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pricing_seasons" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "unit_id" "uuid",
    "name" "text" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "price_per_night" numeric(10,2) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL
);


ALTER TABLE "public"."pricing_seasons" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."push_subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "endpoint" "text" NOT NULL,
    "p256dh" "text" NOT NULL,
    "auth" "text" NOT NULL,
    "user_agent" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."push_subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reservation_guests" (
    "reservation_id" "uuid" NOT NULL,
    "guest_id" "uuid" NOT NULL,
    "is_primary" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    "id" "uuid" DEFAULT "gen_random_uuid"()
);


ALTER TABLE "public"."reservation_guests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reservation_status_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "reservation_id" "uuid",
    "previous_status" "text",
    "new_status" "text" NOT NULL,
    "changed_at" timestamp with time zone DEFAULT "now"(),
    "notes" "text",
    "account_id" "uuid" NOT NULL
);


ALTER TABLE "public"."reservation_status_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reservation_units" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "reservation_id" "uuid" NOT NULL,
    "unit_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL
);


ALTER TABLE "public"."reservation_units" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reservations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "reservation_number" "text" NOT NULL,
    "venue_id" "uuid" NOT NULL,
    "guest_id" "uuid",
    "adults" integer DEFAULT 1 NOT NULL,
    "children" integer DEFAULT 0 NOT NULL,
    "check_in" "date" NOT NULL,
    "check_out" "date" NOT NULL,
    "price_per_night" numeric(10,2),
    "total_amount" numeric(10,2),
    "paid_amount" numeric(10,2) DEFAULT 0 NOT NULL,
    "commission_name" "text",
    "commission_percentage" numeric(5,2),
    "status" "text" DEFAULT 'confirmed'::"text" NOT NULL,
    "preregistro_completado" boolean DEFAULT false NOT NULL,
    "preregistro_completado_at" timestamp with time zone,
    "preregistro_token" "text",
    "preregistro_token_expiry" timestamp with time zone,
    "checkin_at" timestamp with time zone,
    "notes" "text",
    "cancelled_at" timestamp with time zone,
    "cancellation_reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    "source_detail_id" "uuid",
    "discount_percentage" numeric(5,2) DEFAULT 0 NOT NULL,
    "reference_code" "text",
    "checkin_date" timestamp with time zone,
    "checkin_notes" "text",
    "checkout_at" timestamp with time zone,
    "checkout_date" timestamp with time zone,
    "finalization_notes" "text",
    "finalization_reason" "text",
    "finalized_at" timestamp with time zone,
    "finalized_date" timestamp with time zone,
    "companion_token" "text",
    "companion_token_raw" "text",
    "preregistro_token_raw" "text",
    "source_name" "text",
    CONSTRAINT "reservations_guest_id_required" CHECK (("guest_id" IS NOT NULL)),
    CONSTRAINT "reservations_status_check" CHECK (("status" = ANY (ARRAY['confirmed'::"text", 'in_stay'::"text", 'completed'::"text", 'finalized'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."reservations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."role_permissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "role" "text" NOT NULL,
    "resource" "text" NOT NULL,
    "action" "text" NOT NULL,
    CONSTRAINT "role_permissions_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'manager'::"text", 'staff'::"text"])))
);


ALTER TABLE "public"."role_permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."room_blocks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "unit_id" "uuid" NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date" NOT NULL,
    "reason" "text",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "room_blocks_date_range_check" CHECK (("start_date" < "end_date"))
);


ALTER TABLE "public"."room_blocks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "property_name" "text",
    "voucher_conditions" "text",
    "price_general_base" numeric(10,2),
    "price_general_min" numeric(10,2),
    "price_general_extra" numeric(10,2),
    "price_per_person_base" numeric(10,2),
    "price_weekend_pct" numeric(5,2),
    "price_peak_pct" numeric(5,2),
    "price_child_pct" numeric(5,2) DEFAULT 50,
    "price_full_house_min" numeric(10,2),
    "price_full_house_base" numeric(10,2),
    "price_full_house_peak" numeric(10,2),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL,
    "anticipo_pct" numeric DEFAULT 50,
    "allow_checkin_without_preregistro" boolean DEFAULT true NOT NULL,
    "allow_checkout_without_preregistro" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."source_details" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid",
    "source_type_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "label_es" "text" NOT NULL,
    "suggested_commission_percentage" numeric(5,2) DEFAULT 0 NOT NULL,
    "suggested_discount_percentage" numeric(5,2) DEFAULT 0 NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_system" boolean DEFAULT false NOT NULL,
    "is_other" boolean DEFAULT false NOT NULL,
    "sort_order" integer DEFAULT 0 NOT NULL
);


ALTER TABLE "public"."source_details" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."source_types" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "account_id" "uuid",
    "name" "text" NOT NULL,
    "label_es" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."source_types" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."units" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "venue_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "capacity" integer DEFAULT 2 NOT NULL,
    "price_base" numeric(10,2),
    "price_min" numeric(10,2),
    "price_extra_person" numeric(10,2),
    "description" "text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "account_id" "uuid" NOT NULL
);


ALTER TABLE "public"."units" OWNER TO "postgres";


COMMENT ON COLUMN "public"."units"."capacity" IS 'Maximum number of guests this unit can accommodate';



CREATE TABLE IF NOT EXISTS "public"."venues" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "address" "text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."venues" OWNER TO "postgres";


ALTER TABLE ONLY "public"."account_profile"
    ADD CONSTRAINT "account_profile_account_id_key" UNIQUE ("account_id");



ALTER TABLE ONLY "public"."account_profile"
    ADD CONSTRAINT "account_profile_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."account_profile"
    ADD CONSTRAINT "account_profile_reference_prefix_key" UNIQUE ("reference_prefix");



ALTER TABLE ONLY "public"."account_source_settings"
    ADD CONSTRAINT "account_source_settings_account_id_source_detail_id_key" UNIQUE ("account_id", "source_detail_id");



ALTER TABLE ONLY "public"."account_source_settings"
    ADD CONSTRAINT "account_source_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."account_users"
    ADD CONSTRAINT "account_users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."accounts"
    ADD CONSTRAINT "accounts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."accounts"
    ADD CONSTRAINT "accounts_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."document_settings"
    ADD CONSTRAINT "document_settings_account_id_key" UNIQUE ("account_id");



ALTER TABLE ONLY "public"."document_settings"
    ADD CONSTRAINT "document_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."guests"
    ADD CONSTRAINT "guests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_inquiry_number_key" UNIQUE ("inquiry_number");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_quote_token_key" UNIQUE ("quote_token");



ALTER TABLE ONLY "public"."inquiry_status_logs"
    ADD CONSTRAINT "inquiry_status_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inquiry_units"
    ADD CONSTRAINT "inquiry_units_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."message_settings"
    ADD CONSTRAINT "message_settings_pkey" PRIMARY KEY ("account_id");



ALTER TABLE ONLY "public"."notification_settings"
    ADD CONSTRAINT "notification_settings_account_id_key" UNIQUE ("account_id");



ALTER TABLE ONLY "public"."notification_settings"
    ADD CONSTRAINT "notification_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."occupancies"
    ADD CONSTRAINT "occupancies_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."predefined_messages"
    ADD CONSTRAINT "predefined_messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pricing_seasons"
    ADD CONSTRAINT "pricing_seasons_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_account_endpoint_unique" UNIQUE ("account_id", "endpoint");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reservation_guests"
    ADD CONSTRAINT "reservation_guests_pkey" PRIMARY KEY ("reservation_id", "guest_id");



ALTER TABLE ONLY "public"."reservation_status_logs"
    ADD CONSTRAINT "reservation_status_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reservation_units"
    ADD CONSTRAINT "reservation_units_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_companion_token_key" UNIQUE ("companion_token");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_preregistro_token_key" UNIQUE ("preregistro_token");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_reservation_number_key" UNIQUE ("reservation_number");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."room_blocks"
    ADD CONSTRAINT "room_blocks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."settings"
    ADD CONSTRAINT "settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."source_details"
    ADD CONSTRAINT "source_details_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."source_types"
    ADD CONSTRAINT "source_types_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inquiry_units"
    ADD CONSTRAINT "unique_inquiry_unit" UNIQUE ("inquiry_id", "unit_id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "unique_role_permission" UNIQUE ("role", "resource", "action");



ALTER TABLE ONLY "public"."source_details"
    ADD CONSTRAINT "unique_source_detail_per_account" UNIQUE ("account_id", "source_type_id", "name");



ALTER TABLE ONLY "public"."source_types"
    ADD CONSTRAINT "unique_source_type_per_account" UNIQUE ("account_id", "name");



ALTER TABLE ONLY "public"."account_users"
    ADD CONSTRAINT "unique_user_per_account" UNIQUE ("account_id", "user_id");



ALTER TABLE ONLY "public"."units"
    ADD CONSTRAINT "units_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."venues"
    ADD CONSTRAINT "venues_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."venues"
    ADD CONSTRAINT "venues_pkey" PRIMARY KEY ("id");



CREATE INDEX "account_source_settings_account_idx" ON "public"."account_source_settings" USING "btree" ("account_id");



CREATE INDEX "document_settings_account_id_idx" ON "public"."document_settings" USING "btree" ("account_id");



CREATE INDEX "guests_account_id_idx" ON "public"."guests" USING "btree" ("account_id");



CREATE UNIQUE INDEX "guests_document_identity_unique_idx" ON "public"."guests" USING "btree" ("document_type", "document_number") WHERE ("document_number" IS NOT NULL);



CREATE UNIQUE INDEX "idx_guests_document" ON "public"."guests" USING "btree" ("account_id", "document_type", "document_number") WHERE ("document_number" IS NOT NULL);



CREATE INDEX "idx_notifications_account" ON "public"."notifications" USING "btree" ("account_id");



CREATE INDEX "idx_notifications_account_created" ON "public"."notifications" USING "btree" ("account_id", "created_at" DESC);



CREATE INDEX "idx_notifications_account_is_read" ON "public"."notifications" USING "btree" ("account_id", "is_read");



CREATE INDEX "idx_predefined_messages_account" ON "public"."predefined_messages" USING "btree" ("account_id");



CREATE UNIQUE INDEX "idx_predefined_messages_account_key" ON "public"."predefined_messages" USING "btree" ("account_id", "key");



CREATE INDEX "idx_push_subscriptions_account" ON "public"."push_subscriptions" USING "btree" ("account_id");



CREATE INDEX "idx_reservations_reference_code" ON "public"."reservations" USING "btree" ("account_id", "reference_code") WHERE ("status" = ANY (ARRAY['confirmed'::"text", 'in_stay'::"text"]));



CREATE INDEX "inquiries_account_id_idx" ON "public"."inquiries" USING "btree" ("account_id");



CREATE INDEX "inquiries_account_quote_expires_idx" ON "public"."inquiries" USING "btree" ("account_id", "quote_expires_at") WHERE ("quote_expires_at" IS NOT NULL);



CREATE INDEX "inquiries_check_in_idx" ON "public"."inquiries" USING "btree" ("check_in");



CREATE INDEX "inquiries_inquiry_number_idx" ON "public"."inquiries" USING "btree" ("inquiry_number");



CREATE UNIQUE INDEX "inquiries_quote_token_unique_idx" ON "public"."inquiries" USING "btree" ("quote_token") WHERE ("quote_token" IS NOT NULL);



CREATE INDEX "inquiries_reservation_id_idx" ON "public"."inquiries" USING "btree" ("reservation_id");



CREATE INDEX "inquiries_source_detail_id_idx" ON "public"."inquiries" USING "btree" ("source_detail_id");



CREATE INDEX "inquiries_status_created_at_idx" ON "public"."inquiries" USING "btree" ("status", "created_at" DESC);



CREATE INDEX "inquiry_status_logs_inquiry_idx" ON "public"."inquiry_status_logs" USING "btree" ("inquiry_id", "created_at" DESC);



CREATE INDEX "inquiry_units_inquiry_id_idx" ON "public"."inquiry_units" USING "btree" ("inquiry_id");



CREATE INDEX "inquiry_units_unit_id_idx" ON "public"."inquiry_units" USING "btree" ("unit_id");



CREATE INDEX "occupancies_account_id_idx" ON "public"."occupancies" USING "btree" ("account_id");



CREATE INDEX "occupancies_reservation_idx" ON "public"."occupancies" USING "btree" ("reservation_id") WHERE ("reservation_id" IS NOT NULL);



CREATE INDEX "occupancies_type_idx" ON "public"."occupancies" USING "btree" ("occupancy_type");



CREATE INDEX "occupancies_unit_dates_idx" ON "public"."occupancies" USING "btree" ("unit_id", "start_date", "end_date");



CREATE INDEX "payments_account_id_idx" ON "public"."payments" USING "btree" ("account_id");



CREATE INDEX "pricing_seasons_account_id_idx" ON "public"."pricing_seasons" USING "btree" ("account_id");



CREATE INDEX "reservation_guests_account_id_idx" ON "public"."reservation_guests" USING "btree" ("account_id");



CREATE UNIQUE INDEX "reservation_guests_id_unique_idx" ON "public"."reservation_guests" USING "btree" ("id");



CREATE UNIQUE INDEX "reservation_guests_one_primary_idx" ON "public"."reservation_guests" USING "btree" ("reservation_id") WHERE "is_primary";



CREATE UNIQUE INDEX "reservation_guests_unique_pair_idx" ON "public"."reservation_guests" USING "btree" ("reservation_id", "guest_id");



CREATE INDEX "reservation_status_logs_account_id_idx" ON "public"."reservation_status_logs" USING "btree" ("account_id");



CREATE INDEX "reservation_units_account_id_idx" ON "public"."reservation_units" USING "btree" ("account_id");



CREATE INDEX "reservations_account_id_idx" ON "public"."reservations" USING "btree" ("account_id");



CREATE UNIQUE INDEX "reservations_preregistro_token_unique_idx" ON "public"."reservations" USING "btree" ("preregistro_token") WHERE ("preregistro_token" IS NOT NULL);



CREATE INDEX "reservations_source_detail_id_idx" ON "public"."reservations" USING "btree" ("source_detail_id");



CREATE INDEX "room_blocks_unit_dates_idx" ON "public"."room_blocks" USING "btree" ("unit_id", "start_date", "end_date");



CREATE INDEX "settings_account_id_idx" ON "public"."settings" USING "btree" ("account_id");



CREATE INDEX "source_details_account_id_idx" ON "public"."source_details" USING "btree" ("account_id");



CREATE UNIQUE INDEX "source_details_system_name_idx" ON "public"."source_details" USING "btree" ("name") WHERE ("is_system" = true);



CREATE INDEX "source_details_type_active_label_idx" ON "public"."source_details" USING "btree" ("account_id", "source_type_id", "is_active", "label_es");



CREATE INDEX "source_types_account_active_label_idx" ON "public"."source_types" USING "btree" ("account_id", "is_active", "label_es");



CREATE INDEX "source_types_account_id_idx" ON "public"."source_types" USING "btree" ("account_id");



CREATE UNIQUE INDEX "source_types_system_name_idx" ON "public"."source_types" USING "btree" ("name") WHERE ("account_id" IS NULL);



CREATE UNIQUE INDEX "unique_primary_per_reservation" ON "public"."reservation_guests" USING "btree" ("reservation_id") WHERE ("is_primary" = true);



CREATE INDEX "units_account_id_idx" ON "public"."units" USING "btree" ("account_id");



CREATE OR REPLACE TRIGGER "payments_sync_reservation_paid_amount_del" AFTER DELETE ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."sync_reservation_paid_amount"();



CREATE OR REPLACE TRIGGER "payments_sync_reservation_paid_amount_ins" AFTER INSERT ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."sync_reservation_paid_amount"();



CREATE OR REPLACE TRIGGER "payments_sync_reservation_paid_amount_upd" AFTER UPDATE ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."sync_reservation_paid_amount"();



CREATE OR REPLACE TRIGGER "trg_message_settings_updated_at" BEFORE UPDATE ON "public"."message_settings" FOR EACH ROW EXECUTE FUNCTION "public"."set_message_settings_updated_at"();



CREATE OR REPLACE TRIGGER "update_guests_updated_at" BEFORE UPDATE ON "public"."guests" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_inquiries_updated_at" BEFORE UPDATE ON "public"."inquiries" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_occupancies_updated_at" BEFORE UPDATE ON "public"."occupancies" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_payments_updated_at" BEFORE UPDATE ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_pricing_seasons_updated_at" BEFORE UPDATE ON "public"."pricing_seasons" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_reservations_updated_at" BEFORE UPDATE ON "public"."reservations" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_room_blocks_updated_at" BEFORE UPDATE ON "public"."room_blocks" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_settings_updated_at" BEFORE UPDATE ON "public"."settings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_units_updated_at" BEFORE UPDATE ON "public"."units" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_venues_updated_at" BEFORE UPDATE ON "public"."venues" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."account_profile"
    ADD CONSTRAINT "account_profile_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."account_source_settings"
    ADD CONSTRAINT "account_source_settings_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."account_source_settings"
    ADD CONSTRAINT "account_source_settings_source_detail_id_fkey" FOREIGN KEY ("source_detail_id") REFERENCES "public"."source_details"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."account_users"
    ADD CONSTRAINT "account_users_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."account_users"
    ADD CONSTRAINT "account_users_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."document_settings"
    ADD CONSTRAINT "document_settings_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."guests"
    ADD CONSTRAINT "guests_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id");



ALTER TABLE ONLY "public"."inquiries"
    ADD CONSTRAINT "inquiries_source_detail_id_fkey" FOREIGN KEY ("source_detail_id") REFERENCES "public"."source_details"("id");



ALTER TABLE ONLY "public"."inquiry_status_logs"
    ADD CONSTRAINT "inquiry_status_logs_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."inquiry_status_logs"
    ADD CONSTRAINT "inquiry_status_logs_inquiry_id_fkey" FOREIGN KEY ("inquiry_id") REFERENCES "public"."inquiries"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."inquiry_units"
    ADD CONSTRAINT "inquiry_units_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."inquiry_units"
    ADD CONSTRAINT "inquiry_units_inquiry_id_fkey" FOREIGN KEY ("inquiry_id") REFERENCES "public"."inquiries"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."inquiry_units"
    ADD CONSTRAINT "inquiry_units_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."units"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."message_settings"
    ADD CONSTRAINT "message_settings_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notification_settings"
    ADD CONSTRAINT "notification_settings_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."occupancies"
    ADD CONSTRAINT "occupancies_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."occupancies"
    ADD CONSTRAINT "occupancies_inquiry_id_fkey" FOREIGN KEY ("inquiry_id") REFERENCES "public"."inquiries"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."occupancies"
    ADD CONSTRAINT "occupancies_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."occupancies"
    ADD CONSTRAINT "occupancies_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."units"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."predefined_messages"
    ADD CONSTRAINT "predefined_messages_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pricing_seasons"
    ADD CONSTRAINT "pricing_seasons_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."pricing_seasons"
    ADD CONSTRAINT "pricing_seasons_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."units"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservation_guests"
    ADD CONSTRAINT "reservation_guests_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."reservation_guests"
    ADD CONSTRAINT "reservation_guests_guest_id_fkey" FOREIGN KEY ("guest_id") REFERENCES "public"."guests"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."reservation_guests"
    ADD CONSTRAINT "reservation_guests_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservation_status_logs"
    ADD CONSTRAINT "reservation_status_logs_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."reservation_status_logs"
    ADD CONSTRAINT "reservation_status_logs_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservation_units"
    ADD CONSTRAINT "reservation_units_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."reservation_units"
    ADD CONSTRAINT "reservation_units_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "public"."reservations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservation_units"
    ADD CONSTRAINT "reservation_units_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."units"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_guest_id_fkey" FOREIGN KEY ("guest_id") REFERENCES "public"."guests"("id");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_source_detail_id_fkey" FOREIGN KEY ("source_detail_id") REFERENCES "public"."source_details"("id");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_venue_id_fkey" FOREIGN KEY ("venue_id") REFERENCES "public"."venues"("id");



ALTER TABLE ONLY "public"."room_blocks"
    ADD CONSTRAINT "room_blocks_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."units"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."settings"
    ADD CONSTRAINT "settings_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."source_details"
    ADD CONSTRAINT "source_details_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."source_details"
    ADD CONSTRAINT "source_details_source_type_id_fkey" FOREIGN KEY ("source_type_id") REFERENCES "public"."source_types"("id");



ALTER TABLE ONLY "public"."source_types"
    ADD CONSTRAINT "source_types_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."units"
    ADD CONSTRAINT "units_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."accounts"("id");



ALTER TABLE ONLY "public"."units"
    ADD CONSTRAINT "units_venue_id_fkey" FOREIGN KEY ("venue_id") REFERENCES "public"."venues"("id") ON DELETE CASCADE;



CREATE POLICY "Admin full access room_blocks" ON "public"."room_blocks" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Admin full access venues" ON "public"."venues" TO "authenticated" USING (true) WITH CHECK (true);



ALTER TABLE "public"."account_profile" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "account_profile_account_isolation" ON "public"."account_profile" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."account_source_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "account_source_settings_access" ON "public"."account_source_settings" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."account_users" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "account_users_own_account" ON "public"."account_users" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."accounts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "accounts_membership_read" ON "public"."accounts" FOR SELECT TO "authenticated" USING (("id" = "public"."current_account_id"()));



ALTER TABLE "public"."document_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "document_settings_account_isolation" ON "public"."document_settings" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."guests" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "guests_account_isolation" ON "public"."guests" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."inquiries" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "inquiries_account_isolation" ON "public"."inquiries" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."inquiry_status_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "inquiry_status_logs_account_isolation" ON "public"."inquiry_status_logs" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."inquiry_units" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "inquiry_units_account_isolation" ON "public"."inquiry_units" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."message_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "message_settings_account_isolation" ON "public"."message_settings" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



CREATE POLICY "no_insert_system_sources" ON "public"."source_details" FOR INSERT TO "authenticated" WITH CHECK ((("account_id" = "public"."current_account_id"()) AND ("is_system" = false)));



ALTER TABLE "public"."notification_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "notification_settings_account_isolation" ON "public"."notification_settings" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "notifications_account_isolation" ON "public"."notifications" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."occupancies" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "occupancies_account_isolation" ON "public"."occupancies" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "payments_account_isolation" ON "public"."payments" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."predefined_messages" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "predefined_messages_account_isolation" ON "public"."predefined_messages" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."pricing_seasons" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "pricing_seasons_account_isolation" ON "public"."pricing_seasons" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."push_subscriptions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "push_subscriptions_account_isolation" ON "public"."push_subscriptions" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."reservation_guests" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "reservation_guests_account_isolation" ON "public"."reservation_guests" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."reservation_status_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "reservation_status_logs_account_isolation" ON "public"."reservation_status_logs" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."reservation_units" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "reservation_units_account_isolation" ON "public"."reservation_units" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."reservations" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "reservations_account_isolation" ON "public"."reservations" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."role_permissions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "role_permissions_read_authenticated" ON "public"."role_permissions" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."room_blocks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "settings_account_isolation" ON "public"."settings" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."source_details" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "source_details_delete" ON "public"."source_details" FOR DELETE TO "authenticated" USING ((("account_id" = "public"."current_account_id"()) AND ("is_system" = false)));



CREATE POLICY "source_details_select" ON "public"."source_details" FOR SELECT TO "authenticated" USING ((("account_id" IS NULL) OR ("account_id" = "public"."current_account_id"())));



CREATE POLICY "source_details_update" ON "public"."source_details" FOR UPDATE TO "authenticated" USING ((("account_id" = "public"."current_account_id"()) AND ("is_system" = false))) WITH CHECK ((("account_id" = "public"."current_account_id"()) AND ("is_system" = false)));



ALTER TABLE "public"."source_types" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "source_types_delete" ON "public"."source_types" FOR DELETE TO "authenticated" USING (("account_id" = "public"."current_account_id"()));



CREATE POLICY "source_types_insert" ON "public"."source_types" FOR INSERT TO "authenticated" WITH CHECK (("account_id" = "public"."current_account_id"()));



CREATE POLICY "source_types_select" ON "public"."source_types" FOR SELECT TO "authenticated" USING ((("account_id" IS NULL) OR ("account_id" = "public"."current_account_id"())));



CREATE POLICY "source_types_update" ON "public"."source_types" FOR UPDATE TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."units" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "units_account_isolation" ON "public"."units" TO "authenticated" USING (("account_id" = "public"."current_account_id"())) WITH CHECK (("account_id" = "public"."current_account_id"()));



ALTER TABLE "public"."venues" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


REVOKE USAGE ON SCHEMA "public" FROM PUBLIC;
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

























































































































































GRANT ALL ON FUNCTION "public"."bootstrap_account_membership"() TO "anon";
GRANT ALL ON FUNCTION "public"."bootstrap_account_membership"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."bootstrap_account_membership"() TO "service_role";



GRANT ALL ON FUNCTION "public"."current_account_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."current_account_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."current_account_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generateAccountPrefix"("account_uuid" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generateAccountPrefix"("account_uuid" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generateAccountPrefix"("account_uuid" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_account_prefix"("account_uuid" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_account_prefix"("account_uuid" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_account_prefix"("account_uuid" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_short_reference_code"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_short_reference_code"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_short_reference_code"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_message_settings_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_message_settings_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_message_settings_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_reservation_paid_amount"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_reservation_paid_amount"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_reservation_paid_amount"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."account_profile" TO "anon";
GRANT ALL ON TABLE "public"."account_profile" TO "authenticated";
GRANT ALL ON TABLE "public"."account_profile" TO "service_role";



GRANT ALL ON TABLE "public"."account_source_settings" TO "anon";
GRANT ALL ON TABLE "public"."account_source_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."account_source_settings" TO "service_role";



GRANT ALL ON TABLE "public"."account_users" TO "anon";
GRANT ALL ON TABLE "public"."account_users" TO "authenticated";
GRANT ALL ON TABLE "public"."account_users" TO "service_role";



GRANT ALL ON TABLE "public"."accounts" TO "anon";
GRANT ALL ON TABLE "public"."accounts" TO "authenticated";
GRANT ALL ON TABLE "public"."accounts" TO "service_role";



GRANT ALL ON TABLE "public"."document_settings" TO "anon";
GRANT ALL ON TABLE "public"."document_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."document_settings" TO "service_role";



GRANT ALL ON TABLE "public"."guests" TO "anon";
GRANT ALL ON TABLE "public"."guests" TO "authenticated";
GRANT ALL ON TABLE "public"."guests" TO "service_role";



GRANT ALL ON TABLE "public"."inquiries" TO "anon";
GRANT ALL ON TABLE "public"."inquiries" TO "authenticated";
GRANT ALL ON TABLE "public"."inquiries" TO "service_role";



GRANT ALL ON TABLE "public"."inquiry_status_logs" TO "anon";
GRANT ALL ON TABLE "public"."inquiry_status_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."inquiry_status_logs" TO "service_role";



GRANT ALL ON TABLE "public"."inquiry_units" TO "anon";
GRANT ALL ON TABLE "public"."inquiry_units" TO "authenticated";
GRANT ALL ON TABLE "public"."inquiry_units" TO "service_role";



GRANT ALL ON TABLE "public"."message_settings" TO "anon";
GRANT ALL ON TABLE "public"."message_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."message_settings" TO "service_role";



GRANT ALL ON TABLE "public"."notification_settings" TO "anon";
GRANT ALL ON TABLE "public"."notification_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."notification_settings" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."occupancies" TO "anon";
GRANT ALL ON TABLE "public"."occupancies" TO "authenticated";
GRANT ALL ON TABLE "public"."occupancies" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."predefined_messages" TO "anon";
GRANT ALL ON TABLE "public"."predefined_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."predefined_messages" TO "service_role";



GRANT ALL ON TABLE "public"."pricing_seasons" TO "anon";
GRANT ALL ON TABLE "public"."pricing_seasons" TO "authenticated";
GRANT ALL ON TABLE "public"."pricing_seasons" TO "service_role";



GRANT ALL ON TABLE "public"."push_subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."push_subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."push_subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."reservation_guests" TO "anon";
GRANT ALL ON TABLE "public"."reservation_guests" TO "authenticated";
GRANT ALL ON TABLE "public"."reservation_guests" TO "service_role";



GRANT ALL ON TABLE "public"."reservation_status_logs" TO "anon";
GRANT ALL ON TABLE "public"."reservation_status_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."reservation_status_logs" TO "service_role";



GRANT ALL ON TABLE "public"."reservation_units" TO "anon";
GRANT ALL ON TABLE "public"."reservation_units" TO "authenticated";
GRANT ALL ON TABLE "public"."reservation_units" TO "service_role";



GRANT ALL ON TABLE "public"."reservations" TO "anon";
GRANT ALL ON TABLE "public"."reservations" TO "authenticated";
GRANT ALL ON TABLE "public"."reservations" TO "service_role";



GRANT ALL ON TABLE "public"."role_permissions" TO "anon";
GRANT ALL ON TABLE "public"."role_permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."role_permissions" TO "service_role";



GRANT ALL ON TABLE "public"."room_blocks" TO "anon";
GRANT ALL ON TABLE "public"."room_blocks" TO "authenticated";
GRANT ALL ON TABLE "public"."room_blocks" TO "service_role";



GRANT ALL ON TABLE "public"."settings" TO "anon";
GRANT ALL ON TABLE "public"."settings" TO "authenticated";
GRANT ALL ON TABLE "public"."settings" TO "service_role";



GRANT ALL ON TABLE "public"."source_details" TO "anon";
GRANT ALL ON TABLE "public"."source_details" TO "authenticated";
GRANT ALL ON TABLE "public"."source_details" TO "service_role";



GRANT ALL ON TABLE "public"."source_types" TO "anon";
GRANT ALL ON TABLE "public"."source_types" TO "authenticated";
GRANT ALL ON TABLE "public"."source_types" TO "service_role";



GRANT ALL ON TABLE "public"."units" TO "anon";
GRANT ALL ON TABLE "public"."units" TO "authenticated";
GRANT ALL ON TABLE "public"."units" TO "service_role";



GRANT ALL ON TABLE "public"."venues" TO "anon";
GRANT ALL ON TABLE "public"."venues" TO "authenticated";
GRANT ALL ON TABLE "public"."venues" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";




























